.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px;
    gap: 28px;
}

.form{
    width: 372px;
}

.form button{
    color: white;
    background-color: #0656F1;
    width: 100%;
    height: 35px;
    border: 0;
    margin-top: 8px;
    border-radius: 7px;
}

#toggle-password{
    position: relative;
    right: -371px;
    top: 57%;
    transform: translateY(-280%);
    cursor: pointer;
}

#toggle-password2{
    position: relative;
    right: -371px;
    top: 57%;
    transform: translateY(-370%);
    cursor: pointer;
}

.form-container h1{
    margin-top: 8%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    /* identical to box height, or 45px */

    letter-spacing: -0.02em;

    color: #333333;
}

.form-container p{
    font-weight: 500;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
}
.form-container a{
    font-weight: 700;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
}

.form input{
    border-radius: 7px;
    box-shadow: none;
    border-color: #BDBDBD;
    margin: 8px 0 15px 0;
    height: 35px;
    border-width: 1px;
    padding-right: 50px;
}



label{
    display: block;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}