.logo{
    color: #fff;
}

.nav-link{
    color: #ffff;
}

body{
    background-color: #0656F1;
}

#container{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.getstarted .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffff;
    border-radius: 50px;
    height: 40px;
    width: 190px;
    border: 0;
}

.getstarted{
    margin-top: 40px;
    text-align: center;
    padding: 40px 18% 20px;
}

.getstarted h1{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.getstarted p{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 30px;
}

.center{
    display: flex;
    justify-content: center;
}

.button i{
    color: #0656F1;
    font-size: 24px;
    margin-left: 15px;
}

.button .link{
    text-decoration: none;
    color: #ffff;
}


@media (max-width:680px) {
  .getstarted{
    padding: 40px 7% 20px;
  }

}
