#post{
    padding: 7% 2%;
    font-family: 'Poppins';
    font-style: normal;
}

img{
    height: calc(200px + 39.0625vw);
}

.img img{
        width: 100%;
        height: 28rem;
        object-fit: cover;
        margin-bottom: 30px;
}


.title h1{
    color:black;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.title div{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 5px 0;
}

.title div p{
    color: #808080;
    font-weight: 600;
    font-size: 0.8rem;
}

.body p{
    color: black;
    font-size: 1rem;
}