{% extends "base.html" %}
{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}

<div id="posts"> 
  {% for post in user.post %}  
  <div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
      <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
      {% if user.id == post.author %}
      <div class="btn-group">
        <button 
          type="button"
          class="btn btn-sm btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
        ></button>
        <ul> class="dropdown-menu"
          <li><a href="/delete-post/{{post.id}}" class"dropdown-item">Delete</a></li>
        </ul> 
      </div>
      {% endif %}
    </div>
    <div class="card-body"> 
    <div class="card-text">{{post.text}}</div> 
    </div> 
    <div class="card-footer text-muted">{{post.date_created}}</div>
  </div>
  <br/ > {% end for %}
</div>
{% endblock %}   
   
  <button class="btn btn-dark" type="button"><a class="post_a" href="/post">Create Post</a></button>

  <div class="row" > 
    {% for post in posts %}  

    <div class="col-6">
      <img src="{{post.image}}" alt="">
      <h1 class="title-h1"><a class="title-a" href="/post/{{post.title}}">{{post.title}}</a></h1>
      <div class="footer">
        <p>{{post.date_created}}</p>
        <a href="/posts/{{post.user.username}}">By: {{post.user.username}}</a>
      </div>
    </div>
   
  {% endfor %}
  </div>
</div>
{% endblock %}


