{% extends "base.html" %}
{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/getstarted.css') }}">
    <title>Get Started</title>
{% endblock %}

{% block nav %}
    <a class="nav-link button" href="/signup">Sign Up</a>
{% endblock %}

{% block content %}

<div class="getstarted">
    <h1>Create a <br> Blog Without <br> Limits  </h1>
   
    
    <p>Let's help you write, design and create your own blog from scratch.</p>
    <div class="center">
        <div class="button">
            <a href="/signup" class="link">Get Started</a>
            <i class="fa-solid fa-arrow-right-long fa-beat"></i>
        </div>
    </div>
   
</div>

{% endblock %}
        
               


