{% extends "base.html" %}
{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}">
    <title>Sign In</title>
{% endblock %}

{% block nav1 %}
    Home
{% endblock %}
{% block nav4 %}
    Get Started
{% endblock %}
{% block nav5 %}
    Sign In
{% endblock %}
{% block content %}
<div class="form-container">
            
    <h1>Welcome back, Sign in</h1>
    
    <div class="form">
        <form method="post" action="/signin">
            <label for="username">Username</label>
            <input class="form-control"  type="text" name="username" id="username">
            <div>
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" >
                <i class="fa fa-eye eye-password" id="toggle-password" aria-hidden="true" style="margin-left: -30px; cursor: pointer;"></i>    
            </div>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <p>Don't have an account yet? <a href="/signup">Sign up now</a></p>
</div>
{% endblock %}
        
               


