{% extends "base.html" %}
{% block head %}
<title>Sign Up</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/auth.css') }}">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
{% endblock %}

{% block nav1 %}
    Home
{% endblock %}
{% block nav4 %}
    Get Started
{% endblock %}
{% block nav5 %}
    Sign Up
{% endblock %}


{% block content%} 
    <div class="form-container">
        
        <h1>Create an account to start.</h1>
        
        <div class="form">
            <form method="post" action="/signup">
                <label for="fullname">Full Name</label>
                <input class ="form-control" type="text" name="fullname" id="fullname" placeholder="Enter your name" required>

                <label for="username">Username</label>
                <input class ="form-control" type="text" name="username" id="username" placeholder="A cool nickname" required>

                <label for="password1">Password</label>
                <input class ="form-control" type="password" name="password1" id="password1" placeholder="Enter your password" required>
                <i class="fa fa-eye" id="toggle-password1" aria-hidden="true" style="margin-left: -30px; cursor: pointer;"></i>

                <label for="password2">Confirm Password</label>
                <input class ="form-control" type="password" name="password2" id="password2" placeholder="Confirm your password">
                <i class="fa fa-eye" id="toggle-password2" aria-hidden="true" style="margin-left: -30px; cursor: pointer;"></i>

                <button type="submit">Sign-up</button>
            </form>
        </div>
        <p>Already have an account? <a href="/signin">Sign in</a></p>
    </div>
</div>
{% endblock %}
    
