{% extends "base.html" %}
{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/post.css') }}">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<div id="post"> 
    <div class="title">
      <h1>{{post.title}}</h1>
      <div>
        <p>{{post.date_created}}</p>
        <p>By: {{post.user.username}}</p>
      </div>
    </div>

    <div class="body"> 
      <img src="{{post.image}}" alt="">
      <p>{{post.content}}</p>
    </div>

</div>
{% endblock %}